@media (max-width:800px) {
.pc { display: none !important ;}
  
.wrap { width: 92%; }
    
header h1 a img:first-child { width: 120px; padding-top: 20px; }
header h1 a img:last-child { width: 120px; padding-top: 20px; }

header .click_box { justify-content: flex-end; }
header .click_box div:last-child { margin-left: 28px;}
header .click_box div:last-child img:first-child { width: 28px; }
header .click_box div:last-child img:last-child { width: 28px; }

.menu_bar { font-size: 30px; }
.menu_bar ul { top: 120px; left: 8%;}
.menu_bar ul li a:before { width: 7px; height: 7px; margin: 0 9px 9px 0; }
.xbutton { position: fixed; top:22px; right:-10%; z-index: 101; transition: 0.6s; }
.xbutton.on {  right:8%; }
    
    
#page4 { background: url(../images/bg4.jpg) no-repeat center bottom / cover; }

.tit h2 { font-size: 20px; }
.tit p { font-size: 16px; }


#page1 {padding-top: 120px; }
#page1 h2 { font-size: 20px; }
#page1 p { font-size: 16px; }
#page1 .better { width: 360px; margin-top: 130px; }
#page1 .choice { width: 380px; margin-top: 18px;  }
#page1 .bottle { top: 30vh; width: 120px; margin-top: 22px; }

#page2 { padding-top: 120px; }
#page2 a { width: 129px; height: 34px; border-radius: 300px; border: 4px solid #fff; color: #fff; margin-top:200px; font-size: 17px; }
#page2 .jeju { width: 330px; margin-top: 130px; }
#page2 .samdasoo { width: 340px; margin-top: 18px; }

#page3 {  padding-top: 120px; }
#page3 a {  width: 129px; height: 34px; border-radius: 300px; border: 4px solid #fff; color: #fff; margin-top:200px; font-size: 17px; }
#page3 .eco { width: 330px; margin-top: 130px; }
#page3 .freindly { width: 340px; margin-top: 18px; }  
    
    
#page4 { padding: 120px 0 112px 0; }
#page4 .tit p { font-size: 22px;  }
#page4 .tit div { margin-top: 14px; font-size: 15px; word-break: keep-all; }

#page4 .story { margin-top: 300px; position: relative; }
#page4 .story h3 { font-size: 24px; margin-bottom: 10px; } 
#page4 .story p { font-size: 16px; margin-bottom: 60px; } 

#page4 .slide { position: static; width: 230px; z-index: 3; margin: 0 auto;}
#page4 .slide ul li { width: 230px;}
#page4 .slide ul li img { width: 230px; height: 230px; }
#page4 .box > a { position: absolute; bottom:74px; }
#page4 .prev { right: 91% }
#page4 .next { right: 3%; }    
    
    
footer { padding: 32px 0 28px; }
footer span { font-size: 14px; }
footer span:first-of-type { margin-right: 30px; }
footer address { margin-top: 20px; font-size: 12px; }
footer address p:last-child { font-size: 13px; color: #ccc; }
footer .logo { width: 120px; margin: 42px auto 0; }

footer .sns { position: absolute; right: 0; top: -100px; }
footer .sns li { margin-right: 20px; }
footer .sns li a img { width: 40px; height: 40px; }
footer .top { position: absolute; right: -46px; bottom: 4px;
    animation-name: moving;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
}

@keyframes moving {
    0% { transform: translateY(4px) }
    100% { transform: translateY(-22px) }
}    
    
/*-----sub1-----*/
    
.header { height: 75px; }
.header.on { height: 50px; }
.header.on .wrap { padding-top: 10px; }
.header .wrap { padding-top: 20px; align-items: flex-start; }
.header h1 img { width: 114px; }
.header.disable h1 img { filter: brightness(0) invert(1);}
.header.disable .click_box { display: none;}
    
.header .click_box { display: flex; align-items: center; justify-content: flex-start; }
.header .click_box a { position: static;}
.header .click_box div:last-child { margin-left: 20px;}
.header .click_box div:last-child img:first-child { width: 28px; }
.header .click_box div:last-child img:last-child { width: 28px; }

    
#sub1 .main .wrap > img { padding-top: 210px; width: 220px; }
#sub1 .main .text_box { position: absolute; right: 0%; padding-top: 130px;}
#sub1 .main .text_box img { width: 110px; }
#sub1 .main .text_box p { margin-top: 10px; font-size: 15px; word-break: keep-all; }


#sub1 .history { padding: 60px 0 100px; }
#sub1 .history h2 { font-size: 24px; }
#sub1 .history .year { margin-top: 40px; font-size: 20px; border-bottom: 1px solid #ccc; }
#sub1 .history .year li { width: 80px; padding-bottom: 5px; border-bottom: 2px solid rgba(0,0,0,0); letter-spacing: -0.06em;}
#sub1 .history .year li.select { border-bottom: 2px solid #0e5ed5; }

#sub1 .history .wrap > div .his_list { padding-top: 18px; width: 90%; margin: 0 auto; }
#sub1 .history .wrap > div > a { padding: 15px; top: 190px; }
#sub1 .history .wrap > div > a img { width: 20px; opacity: 0.8; }
#sub1 .history .wrap > div > .prev { left: 65%; }
#sub1 .history .wrap > div > .next { right: 0%; }

#sub1 .history .wrap > div article .list { width: 83vw; margin-bottom: 2px; }
#sub1 .history .wrap > div article h3 { font-size: 16px; padding-bottom: 10px; }
#sub1 .history .wrap > div article span { font-size: 13px; width: 20px; }
#sub1 .history .wrap > div article p { font-size: 13px; }

#sub1 .history .wrap > .tab3 .his_list_con,
#sub1 .history .wrap > .tab4 .his_list_con { padding-left:0 }

    
#sub1 .essence .bg_site.dark { filter: brightness(0.7); }   
#sub1 .essence .site2 .text_site p:nth-child(4) { padding-top: 120px; }
#sub1 .essence .site3 .text_site p:nth-child(4) { padding-top: 120px; }
#sub1 .essence .site3 .text_site p:nth-child(5) a { border: 1px solid #fff; }
#sub1 .essence .site4 .text_site p:nth-child(5) a { border: 1px solid #fff; }
#sub1 .essence .text_site.transp { background: none; color: #fff; top: 0; left: 0; z-index: 2; }   
    
#sub1 .essence > div { display: block; position: relative; }   
#sub1 .essence > div > div { width: 100%; } 
#sub1 .essence > div > .text_site { position: absolute; }

#sub1 .essence .text_site p:nth-child(1) { padding-top: 280px; transition: 0.6s; }
#sub1 .essence .text_site p:nth-child(2) { font-size: 18px; transition: 0.6s; }
#sub1 .essence .text_site p:nth-child(3) { padding-top: 30px; font-size: 30px; transition: 0.6s; }
#sub1 .essence .text_site p:nth-child(4) { padding-top: 120px; width: 85%; margin: 0 auto; word-break: keep-all; font-size: 14px; transition: 0.6s; }
#sub1 .essence .text_site p:nth-child(5) { transition: 0.6s; }
#sub1 .essence .text_site p:nth-child(5) a { border: 1px solid #fff; display: inline-block; padding: 5px 11px;}
#sub1 .essence .text_site p.view { opacity: 1; transform: translate(0); }   
    
#sub1 .road { padding: 80px 0 220px;  }
#sub1 .road > p { font-size: 26px; }
#sub1 .road .bg_con { margin-top: 110px; display: flex; justify-content: center; }
#sub1 .road .bg_con img:last-child { width: 100%; min-width: 300px; }
#sub1 .road article h3 { font-size: 15px; }
#sub1 .road article p { font-size: 12px; word-break: keep-all; }
#sub1 .road article.step1 { top: 11%; left: calc( -3% + 60px); transform: translateX(-30px); width: 180px; }
#sub1 .road article.step2 { top: 25%; left: calc( 29% - 50px); text-align: left; transform: translateX(30px); width: 180px;  }
#sub1 .road article.step3 { top: 41%; left: calc( 43% - 10px); transform: translateX(-30px); width: 180px; }
#sub1 .road article.step4 { top: 58%; left: calc( 17% - 20px); transform: translateX(-30px); width: 180px; }
#sub1 .road article.step5 { top: 72%; left: calc( 35% - 10px); text-align: left; transform: translateX(30px); width: 180px; }
#sub1 .road article.step6 { top: 86%; left: calc( 48% - 10px); transform: translateX(-30px); width: 200px;  }
#sub1 .road article.view { opacity:1; transform: translateX(0); }

#sub1 .road .link { bottom: 90px; right: 10%; width: 80%; }
#sub1 .road .link img { width: 24px; padding-right: 14px; }
#sub1 .road .link img:last-child {padding: 0 10px 0 20%; }    
 
#sub1 .sns_bg { background: #0e0c0c; width: 100%; height: 100px;}
 
    
#sub2 .main { height: 84vh; }
#sub2 .main .bg_con { height: 84vh; }
#sub2 .main .wrap > img { width: 220px; padding-top: 400px; }

#sub2 #sec1 > span { padding-top: 80px; font-size: 10px; letter-spacing: 0.2em; }
#sub2 #sec1 p:nth-of-type(1) { padding-top: 14px; font-size: 20px; }
#sub2 #sec1 .txt { font-size: 12px; width: 86%; margin: 0 auto; word-break: keep-all; }
#sub2 #sec1 div:nth-of-type(2) { padding: 40px 0 40px;  }
#sub2 #sec1 div:nth-of-type(2) img { width: 90%; }
#sub2 #sec1 div:nth-of-type(3) img { width: 18%; }
#sub2 #sec1 p:nth-of-type(2) { padding-top: 28px; font-size:14px; }

#sub2 #sec2 p { padding-top: 100px; font-size: 20px; }
#sub2 #sec2 div { font-size: 12px; word-break: keep-all; width: 80%; margin: 0 auto;}
#sub2 #sec2 div:nth-of-type(1) { font-size: 12px; padding: 34px 0 48px; }

#sub2 #sec3 ul { display: block; padding-top: 50px; width: 88%; }
#sub2 #sec3 ul li { height: 346px; margin-bottom: 14px; }
#sub2 #sec3 ul li:last-child { margin-bottom: 0;}
#sub2 #sec3 ul li span { height: 180px; }
#sub2 #sec3 ul li .txt_box { padding: 14px 10px 0 14px; }
#sub2 #sec3 ul li .txt_box h3 { font-size: 20px; }
#sub2 #sec3 ul li .txt_box p { font-size: 12px; color: #222; padding: 12px 0; }
#sub2 #sec3 ul li .txt_box div { font-size: 12px; position: absolute; bottom: 20px; right: 14px; }

#sub2 #sec4 > div { font-size: 12px; padding-top: 90px; letter-spacing: 0.2em; }
#sub2 #sec4 p { padding-top: 18px; font-size: 20px; }
#sub2 #sec4 img { padding: 30px 0 30px; width: 90%;  transition: 0.8s; }
#sub2 #sec4 video { width: 86%; transition: 0.8s 0.5s; }


#sub2 #sec5 .box1 .photo { width: 90%; height: 200px; margin: 0 auto; }
#sub2 #sec5 .box2 .photo { width: 90%; height: 200px; margin: 0 auto; }
#sub2 #sec6 .box1 .photo { width: 90%; height: 200px; margin: 0 auto; }
#sub2 #sec6 .box2 .photo { width: 90%; height: 200px; margin: 0 auto; }
#sub2 #sec6 .box3 .photo { width: 90%; height: 200px; margin: 0 auto; }

#sub2 .bg { height: 170px; }
#sub2 .title { top: -90px; left: calc(50% - 80px); } 
#sub2 .title div {  padding-top: 126px; font-size: 10px;  } 
#sub2 .title p { padding-top:0; font-size: 22px; }

#sub2 .box1 { display: block; margin: 0 auto;  padding-top: 190px; }
#sub2 .box2 { display: block; margin: 0 auto;  padding-top: 130px; }
#sub2 .box3 { display: block; margin: 0 auto;  padding-top: 130px; }

#sub2 .box1 .text { width: 82%; margin: 0 auto; }
#sub2 .box2 .text { width: 82%; margin: 0 auto; }
#sub2 .box3 .text { width: 82%; margin: 0 auto; }

#sub2 .text { position: relative; height: 220px; width: 100%; }
#sub2 .text span:nth-of-type(1) { font-size: 10px; padding-bottom: 12px; padding-top: 32px; }
#sub2 .text h3 { font-size: 22px; color: #111; padding-bottom: 26px; }
#sub2 .text span:nth-of-type(2) { width: 100%; padding-bottom: 26px; }
#sub2 .text p:nth-of-type(1) { font-size: 12px; }
#sub2 .text p:nth-of-type(2) { font-size: 10px; padding-top: 20px; }
#sub2 .text a { border: 1px solid #111; bottom: -80px; line-height: 32px; font-size: 13px; font-weight: 600; }

#sub2 .sns_bg { background: #0e0c0c; width: 100%; height: 100px; border-bottom: 1px solid #333;}


    
    
    
    
    
    
    
    
    
    
}

@media (min-width:801px) { 
    .mob { display: none !important ;}
} 